<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktds.biz.service.impl.AdminMapper">

    <select id="selectAdminById" resultType="admin">
        SELECT 
	        usr.ADM_ID as "ADM_ID" 
	        ,ADM_PW as "ADM_PW"
	        ,ADM_ROLE as "ADM_ROLE"
	        ,ADM_NAME as "ADM_NAME"
	        ,ADM_EMAIL as "ADM_EMAIL"
	        ,created as "ADM_CDATE"
	        ,last_upd as "ADM_UDATE"
	        ,ADM_LOGIN as "ADM_LOGIN"
	        ,(select count(*) from t_src camp where camp.ADM_ID = usr.ADM_ID) as "CAM_CNT"
          FROM t_ACCOUNT usr
         WHERE usr.ADM_ID = #{ADM_ID}
    </select>

    <select id="selectAllAdmin" resultType="admin">
        SELECT 
        	usr.ADM_ID as "ADM_ID" 
	        ,ADM_PW as "ADM_PW"
	        ,ADM_ROLE as "ADM_ROLE"
	        ,ADM_NAME as "ADM_NAME"
	        ,ADM_EMAIL as "ADM_EMAIL"
	        ,created as "ADM_CDATE"
	        ,last_upd as "ADM_UDATE"
	        ,ADM_LOGIN as "ADM_LOGIN"
	        ,(select count(*) from t_src camp where camp.ADM_ID = usr.ADM_ID) as "CAM_CNT"
          FROM t_ACCOUNT usr
    </select>
    
    <update id="updateAdminById">
        UPDATE t_account SET (ADM_LOGIN) = ( SELECT (ADM_LOGIN + 1) as "ADM_LOGIN" FROM t_ACCOUNT WHERE ADM_ID = #{ADM_ID} ), last_upd = now() WHERE ADM_ID = #{ADM_ID}
    </update>
    

    <insert id="insertAdmin">
      INSERT INTO t_ACCOUNT (ADM_ID, ADM_PW, ADM_TYPE, ADM_ROLE, ADM_NAME, ADM_EMAIL, created, last_upd, ADM_LOGIN)
      VALUES (#{ADM_ID}, #{ADM_PW}, #{ADM_TYPE}, 1, #{ADM_NAME},#{ADM_EMAIL}, now(), now(), 0)
    </insert>

</mapper>