<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktds.biz.service.impl.AiModelMapper">

    <select id="selectAiTrainModel" resultType="model">
	    select 
	       src_id, 
	       train_method,
	       round(cast(AI_ACC * 100 as numeric), 1) as ai_acc,  --정확도
	       round(cast(SO_ACC * 100 as numeric), 1) as so_acc,              --예측
	       train_start, 
	       train_end, 
	       model_flg, 
	       desc_text  
		from 
		    t_train_model 
		where 
		    src_id = #{cam_id}
    </select>


</mapper>