<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktds.biz.service.impl.BoardMapper">

	<select id="selectAllBoardList" resultType="board">
		SELECT 
			CODE AS "code", 
			TITLE AS "title",
			CONTENTS AS "contents",
			WRITER AS "writer",
			REG_DATETIME AS "reg_datetime"
		FROM  
			t_BOARD
		ORDER BY 
			reg_datetime DESC
	</select>
	
	<select id="selectBoardList" resultType="board">
		SELECT
		    CODE AS "code",
			TITLE AS "title",
			CONTENTS AS "contents",
			WRITER AS "writer",
			REG_DATETIME AS "reg_datetime"
		FROM 
		    t_BOARD
		<where>
			<if test="title != null and title != '' ">
				title like '%' || #{title} || '%'
			</if>
			
			<if test="writer != null and writer != '' ">
				AND type writer '%' || #{writer} || '%'
			</if>
			
			<if test="reg_datetime != null and reg_datetime != '' ">
				AND reg_datetime like '%' || #{reg_datetime} || '%'
			</if>
		</where>
		ORDER BY 
			reg_datetime DESC
    </select>
    
    <select id="selectBoardDetail" resultType="board">
		SELECT
		    CODE AS "code",
			TITLE AS "title",
			CONTENTS AS "contents",
			WRITER AS "writer",
			REG_DATETIME AS "reg_datetime"
		FROM 
		    t_BOARD
		WHERE
			code =  #{code}
    </select>
    
    <insert id="insertBoard">
    	INSERT INTO t_BOARD (CODE, TITLE, CONTENTS, WRITER, REG_DATETIME)
      	VALUES ((SELECT COALESCE(MAX(code + 1),1) FROM t_BOARD), #{title}, #{contents}, #{writer}, now())
    </insert>
    
    	
	<update id="updateBoard">
		update t_BOARD set title=#{title}, contents=#{contents} where code=cast(#{code} as numeric)
	</update>
    
    <delete id="deleteBoard">
    	DELETE FROM t_BOARD 
    	WHERE 
    		code =  #{code}
    </delete>
    
    <select id="selectBoardPage" resultType="notice">
		select *
		from (
		select <![CDATA[ (ROW_NUMBER() OVER()) as rnum ]]>
		, A.CODE, A.TITLE, A.CONTENTS, A.WRITER, A.REG_DATETIME
		from
		(
		select
			CODE,
			TITLE,
			CONTENTS,
			WRITER,
			REG_DATETIME
		from t_BOARD
		order by REG_DATETIME desc
		) A
		LIMIT cast(#{page_end}  as numeric)
		) B
		where b.rnum >= cast(#{page_st} as numeric)
	</select>

	<select id="selectBoardPageNum" resultType="int">
		select count(*) as
		totalCount from t_BOARD
	</select>
	
</mapper>	